* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: black;
}

div#clockdi {
    display: flex;
    flex-direction: column;
    font-size: 72px;
    color: rgb(226, 204, 4);
    /* background-color: aqua; */
}

#clock {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin-bottom: -155px; */
    font-size: 72px;
    color: rgb(226, 204, 4);
    /* background-color: green; */
}

#dayly {
    display: flex;
    justify-content: center;
    font-size: 72px;
    color: rgb(3, 240, 248);
}

hr {
    border-bottom: 1px solid red;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 400px;
    height: 0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}









